<div class="reviews">
    <% if @movie.reviewed? %>
        <p><%= link_to "See #{pluralize(@movie.reviews.size, 'Review')}", movie_reviews_path(@movie) %></p>
        <%= render "shared/stars", percent: average_rating_as_percent(@movie.reviews) %>
    <% else %>
        No Reviews yet, you should write one!
    <% end %>
    <%
=begin%>
This is commented out currently just incase we need to bring it back in later lessons
 <p><%= link_to "Write A Review", new_movie_review_path(@movie), class: "review" %></p> 
<%
=end%>
</div>